body{
margin:0;
padding:0;
box-sizing:border-box;
max-width:1500px;
background-image:url("back14.jpg"); 
background-repeat:no-repeat;
background-size:cover;
font-family:cursive;
}
.navbox{
position :absolute;
top:0px;
bottom:0px;
left:0px;
right:0px;
margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
background-color:rgba(207, 47, 116, 1 );
border: 8px solid #088F8F;
border-radius: 25px;
width:100%;
height:25%;
}


ul{
margin:0px;
padding:40px;
position:relative;
bottom:80px;
}


button{
font-family:  "Brush Script MT", cursive;
font-size:150%;
font-color:black;
font-style:bold;
 display: inline;
margin:90px;
border-radius: 10px 100px / 120px;
 background-color:rgba(255,255,255,0.2);
border:1px solid white;

}
button:hover {
background-color: rgba(205, 209, 228, 1 );
}
button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
a:link , a:visited {
  text-decoration: none;
  color:rgba(255,255,255,0.8);
box-shadow: 10px 5px 5px rgba(255,255,255,0.2);
}
a:hover {
  color: black;

}

.logo{
     border-radius :50%;
border: 4px solid black;
box-shadow: 10px 5px 5px rgba(255,255,255,0.2);
position:relative;
top:40px;
     
}
.wave::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-size: 40px;
  background-image:
    radial-gradient(circle at 20px -10px , transparent 24px, #fff 26px);
  }


.head{
  font-family:cursive;
  color:#4EE01E;
}



.logo1
{
   height:75px;
   width:75px;
  border-radius:50%;
 
border: 2px solid black;


}
.box{
     border: 2px solid black;
     border-radius: 10px 100px / 120px;
     background-color:#8db600;
     font-family:cursive;
    height:50px;
   width:140px;
}
a:link , a:visited {
  text-decoration: none;
  color:rgba(255,255,255);
box-shadow: 10px 5px 5px rgba(255,255,255,0.2);
}
a:hover {
  color: black;

}
centre{
text-color:white;
}

.contain {
  position: relative;  
  color:rgba(255,255,255,0.7);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.contain:hover .overlay {
  opacity: 1;
}

.overview {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 40%  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}





.flavours{

background:rgba(255,255,255,0.5);
width:1000px;
height:2000px;
position:relative;
top:200px;
text-align:centre;
margin:auto;
overflow:hidden;
border-radius:30px;
}
.flavours span{
padding :10px;
margin:10px;
text-align:center;
border:2px solid black;
border-radius:30px;
background-color:rgba(238,75,43,0.5);

font-weight:bold;
cursor:pointer;
width:170px;
display:inline-block;
}
.form-btn{
display:inline-block;
}
.flavours form{
 max-width:1000px;
 position:absolute;
 top:100px;
 max-height:200px;
  transition:transform 1s;
}
.small{
max-width:1000px;
margin:auto;
padding-left:25px;
paddding-right:25px;
}
.row{
min-width:1000px;
}
.col{
  flex-basis:25%;
  padding:10px;
  min-width:200px;
  margin-bottom:50px;
  display:inline-block;
  transition:transform 0.5s;
}
.col img{
width:200px;
height:200px;
}
.col:hover{
  transform:translateY(-5px);
}
#all{
    left:0px;
}
#chocolate{
left:1000px;
}
#butterscotch{
left:2000px;
}
#themes{
left:3000px;
}
#indicator{
position:absolute;
right:1000px;
  width:170px;
border:none;
height:3px;
margin-top:8px;
background:#ff523b;
transform:translateX(170px);
transition:transform 1s;
}